[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "organizr"]
	path = organizr
	url = https://github.com/jobrachem/organizr
[submodule "skewsamp"]
	path = skewsamp
	url = https://github.com/jobrachem/skewsamp
